@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");


.TodoSearch {
  background: #ffffff;
  border-radius: 40px;
  border: 1px solid #bdbdbd;
  margin: 0 24px;
  height: 40px;
  width: calc(100% - 62px);
  font-size: 20px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: #1e1e1f;
}
.TodoSearch::placeholder {
  color: #a5a5a5;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}
.TodoSearch:focus {
  outline-color: #6761fa;
}
