body {
  margin: 0;
  padding: 0;
  background: #000000d6;
  color: #1e1e1f;
  font-family: montserrat, Arial, Helvetica, sans-serif;
}
#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
